#background-animation{
    animation: background-animation 4s ease-in 1ms 1 normal forwards;
}

@keyframes background-animation {
    0%{
        background: #D2F1FF;
    }
    100%{
      background: conic-gradient(from 45.75deg at 14.32% -33.81%, #FDFFB4 0deg, #D2F1FF 360deg);
    }
}

#name-animation {
  animation: names 5s ease-in-out 1ms 1 normal forwards;
}

@keyframes names {
  0% {
    top: 35%;
    left: -80px;
    font-style: italic;
  }
  50% {
    top: 35%;
    left: 33%;
    font-style: normal;
  }
  100% {
    position: relative;
    top: 35%;
    left: 33%;
    font-weight: bold;
    color: #ffb703;
  }
}

#text-animation {
  animation: text-animation 5s ease-in-out 1ms 1 normal forwards;
}

@keyframes text-animation {
    0%{
        top: 170px;
        opacity: 3%;
    }
    100%{
        top: 90px;
        opacity: 100%;
        color: #ffb703;
    }
}
